body {
  background-color: #dadada;
  font-family: Arial, Helvetica, sans-serif;
}

.product-filter {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 80px;
  box-shadow: 0px 0px 10px rgba(0 0 0 / 20%);
  overflow: hidden;
  margin-bottom: 30px;
}

header {
  padding: 20px 16px;
}

header > h3 {
  font-size: 20px;
  color: #333;
}

.loading {
  padding: 0 16px 16px 16px;

  h3 {
    font-size: 20px;
  }
}

.filter-input {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #333;
  border-radius: 4px;
  padding-left: 10px;

  input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.product-list {
  margin-top: 16px;
  max-height: 400px;
  overflow-y: auto;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding: 8px 10px;
  transition: all 0.25s ease-in;
  will-change: backgroundColor;

  & > .product-img {
    width: 20%;
    padding: 10px;
  }

  & > .product-info {
    flex: 1;

    h4 {
      font-size: 15px;
      color: #333;
      font-weight: 600;
    }
  }

  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}
